# Ignore virtual environment
venv/

# Ignore ChromeDriver binary
chromedriver-mac-arm64

# Python cache files
__pycache__/
*.pyc
*.pyo

# Log Files
*.Log

# Success and Failed List
success_list.json
failed_list.json

# Ignore all video files
archive_vids/